%nav
  %ul.nav
    %li
      %a{:href => "#"} Admin
    %li
      %a{:href => "#"} Members
    %li
      %a{:href => "#"} Lab Reports
    %li
      %a{:href => "#"} User Administration
    %li
      %a{:href => "#"} Organizations
    %li
      %a{:href => "#"} Consults
    %li
      %a{:href => "#"} Practitioners
    %li
      %a{:href => "#"} Diagnostics
    %li
      %a{:href => "#"} Reporting
    %li
      %a{:href => "#"} Feature Testing
    %li
      %a{:href => "#"} Lab Ordering
    %li
      %a{:href => "#"} Operations
    %li
      %a{:href => "#"} Deidentified Data