.user-badge.user-badge--primary
  %img.user-badge__image{src: "/images/finn.png", width: "40px", height: "40px"}
  %p.user-badge__name Finn the Member
.sidebar-nav__content
  = partial "layouts/nav/_personal"