.user-badge.user-badge--primary
  %img.user-badge__image{src: "/images/gunter.png"}
  %p.user-badge__name Gunter with Powers

.user-badge.user-badge--acting-as
  %img.user-badge__image{src: "/images/finn.png", width: "30px", height: "30px"}
  %p.user-badge__name 
    %span.user-badge__label Acting as:
    Finn the Member

.sidebar-nav__content
  = partial "layouts/nav/_personal"